/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #13131F;
    color: #fff;
    position: fixed;  /* Certifica-se de que o z-index funciona */
    z-index: 2;  /* Coloca o ícone do menu acima do nav */
    width: 100%;
}

.spacer {
    height: 80px; /* Ajuste para a altura do cabeçalho */
}

.header-line {
    border: none; 
    border-top: 2px solid #8257E6; /* Cor e espessura da linha */
    position: fixed; /* Mantém a linha fixa */
    top: 80px; /* Ajuste para ficar logo abaixo do cabeçalho */
    left: 0; /* Alinha à esquerda */
    width: 100%; /* Largura total da linha */
    z-index: 1; /* Garante que a linha fique abaixo do cabeçalho */
}

.hidden {
    display: none; /* Esconde o elemento */
}

h1 {
    margin: 0;
}

.menu-icon {
    color: #8257E6;
    font-size: 30px;
    cursor: pointer;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column; /* Para empilhar o ícone e a mensagem */
    align-items: center; /* Centraliza a mensagem */
    margin-left: 100px;
    transition: margin-left 0.3s ease;
}

.welcome-message {
    font-size: 30px; /* Tamanho da fonte */
    color: #ffffff; /* Cor do texto */
    text-align: center; /* Centraliza o texto */
    margin: 100px 0; /* Espaço ao redor do título */
    position: absolute; /* Posição absoluta para ficar sobre os links */
    top: 10%; /* Ajuste para o local desejado */
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Alinha ao centro */
    z-index: 3; /* Garante que esteja acima dos links */
}

nav {
    position: fixed;
    left: -100%; 
    width: 100%;
    height: 100%;
    background-color: rgba(51, 51, 51, 0.7); /* Fundo padrão (modo claro) */
    backdrop-filter: blur(10px); /* Desfoque do fundo */
    transition: left 0.3s, background-color 0.3s; 
    z-index: 1;
}

nav.open {
    left: 0; /* Move o menu para dentro da tela quando aberto */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Mantém a centralização */
    align-items: center; /* Adiciona centralização horizontal */
}

nav ul li {
    margin: 20px 0;
    text-align: center;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    display: inline-block; /* Permite aplicar transformações */
    transition: transform 0.3s ease, color 0.3s ease; /* Transições suaves */
}

nav ul li a:hover {
    color: #8257E6; /* Muda a cor ao passar o mouse */
}

.toggle-container {
    width: 60px; /* Largura do botão */
    height: 30px; /* Altura do botão */
    background-color: white; /* Cor de fundo padrão */
    border-radius: 15px; /* Arredondamento do botão */
    position: relative; /* Para posicionamento da bolinha */
    cursor: pointer; /* Muda o cursor ao passar o mouse */
    transition: background-color 0.3s; /* Efeito de transição da cor de fundo */
    margin-right: 100px;
    transition: margin-right 0.3s ease;
}

.toggle-circle {
    width: 26px; /* Largura da bolinha */
    height: 26px; /* Altura da bolinha */
    background-color: #13131F; /* Cor da bolinha */
    border-radius: 50%; /* Faz a bolinha ser redonda */
    position: absolute; /* Para posicionamento */
    top: 50%; /* Centraliza verticalmente */
    left: 2px; /* Posiciona à esquerda */
    transform: translateY(-50%); /* Ajusta o alinhamento vertical */
    transition: left 0.3s; /* Efeito de transição ao mover a bolinha */
}

/* Estilo para o tema escuro */
.dark-theme .toggle-container {
    background-color: #8257E6; /* Cor de fundo no tema escuro */
}

.dark-theme .welcome-message {
    color: #8257E6; /* Cor roxa para o tema escuro */
}


.dark-theme .toggle-circle {
    left: 32px; /* Move a bolinha para a direita no tema escuro */
}

.dark-theme {
    background-color: #13131F; /* Cor de fundo escura para toda a página */
    color: #ffffff; /* Cor do texto no tema escuro */
}

.dark-theme nav {
    background-color: rgba(19, 19, 31, 0.7); /* Fundo no modo escuro */
    backdrop-filter: blur(10px); /* Mantém o desfoque no modo escuro */
}

.no-scroll {
    overflow: hidden; /* Desabilita a rolagem do corpo */
}








.sobre-section {
    display: flex;
    flex-direction: column;
    padding: 100px;
    background-color: #f0f0f5;
    min-height: 100vh; /* Garante que a section ocupe ao menos 100% da altura da tela */
}
  
.info-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
  
.info-container {
    width: 50%;
}
  
.info-container h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #333;
}
  
.info-container h2 {
    font-weight: 500;
    font-size: 1.5em;
    margin-bottom: 35px;
    color: #8A8B8A;
}
  
.buttons {
    margin-top:  25px;
}
  
.btn {
    background-color: #8257E6;
    color: white;
    padding: 10px 20px;
    margin-right: 15px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
  
.btn:hover {
    background-color: #6842C2;
}

.btn-transparente {
    background-color: transparent; /* Fundo transparente */
    border: 2px solid #8257E6; /* Bordas roxas */
    color: #8257E6; /* Texto roxo */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transição para efeito de hover */
  }
  
  .btn-transparente:hover {
    background-color: #8257E6; /* Fundo roxo ao passar o mouse */
    color: white; /* Texto branco ao passar o mouse */
  }
  
.image-container {
    display: inline-block; /* Ajusta o tamanho ao conteúdo */
    margin-left: 20px; /* Margem à esquerda */
}
  
.foto {
    width: auto; /* Para manter a proporção da imagem */
    max-width: 100%; /* Limita a largura da imagem */
    max-height: 400px; /* Ajuste a altura máxima conforme necessário */
    border-radius: 45%;
}
  
.about-container {
    margin-top: 50px;
    text-align: center;
}
  
.about-container h1 {
    font-size: 2.2em;
    margin-bottom: 20px;
    color: #333;
}
  
.about-container p {
    font-size: 1.2em;
    line-height: 1.6;
    color: #8A8B8A;
    max-width: 800px;
    margin: 0 auto;
}

.dark-theme .sobre-section {
    background-color: #13131F;
}

.dark-theme  .sobre-section h1 {
    color: white;
}

.dark-theme .info-container h1 span {
    color: #8257E6;
}

.dark-theme .btn-transparente {
    color: white;
}

#habilidades {
    background-color: #F0F0F5;
    text-align: center;
    padding: 50px 0;
    padding-left: 30px;
    padding-right: 30px;
}

#habilidades h1 {
    font-size: 2.2em;
    margin-bottom: 40px;
}

.skills-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.skill-box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 1 150px; /* Mantém uma largura de 150px, mas permite crescer e encolher */
    min-width: 150px; /* Largura mínima para os cubos */
    max-width: 200px; /* Largura máxima, ajuste conforme necessário */
    background-color: #212121;
    padding: 20px;
    border-radius: 30px 0 0;
    text-align: center;
    transition: transform 0.3s ease;
    position: relative; /* Necessário para o posicionamento do hr */
}

.skill-box:hover {
    transform: scale(1.05);
}

.skill-box h2 {
    font-weight: 400;
    color: #8257E6;
    font-size: 1.2rem;
    margin-bottom: 10px;
    margin: 10px 0;
}

.skill-box svg {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    fill: #8257E6; /* Cor roxa */
}

.custom-hr {
    position: absolute;
    border: none;
    height: 3px;
    background-color: #8257E6; /* Cor roxa */
    width: 100%;
    margin: 0;
    bottom: 0;
}

.dark-theme #habilidades {
    background-color: #13131F;
}


#projects {
    background-color: #F0F0F5;
    padding: 20px;
}

.projects-title {
    font-size: 2.2em;
    text-align: center;
    margin-bottom: 20px;
}

.destaques-title {
    margin-top: 10px;
    margin-left: 50px;
}

.short-line {
    width: 50px;
    border-top: 2px solid #8257E6;
    margin: 10px 0;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 45px;
}

.project-card {
    position: relative;
    margin: 5px;
    width: calc(33.33% - 10px);
    overflow: hidden;
    border-bottom: 3px solid #8257E6; /* Borda inferior roxa */
    background-color: black;
}

.project-title-container {
    position: absolute;
    top: 50%; /* Ajuste para a posição do título */
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 1;
}

.project-title-container h3 {
    font-weight: 500;
    white-space: nowrap; /* Impede quebra de linha */
    overflow: hidden; /* Evita que o texto extravase */
    text-overflow: ellipsis; /* Adiciona "..." se o texto for muito longo */
}

.project-card img {
    width: 100%;
    opacity: 0.5;
    transition: transform 0.3s ease, opacity 0.3s ease; /* Transição suave */
    margin-bottom: -15px;
}

.project-card:hover img {
    opacity: 1; /* Torna a imagem mais escura ao passar o mouse */
}

.hover-banner {
    position: absolute; 
    bottom: -100%; /* Mantém o banner fora da vista inicialmente */
    left: 0; 
    right: 0;
    background-color: #212121;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: bottom 0.5s ease-in-out;
    z-index: 1; /* Garante que o banner fique acima do título e da linha */
}

.project-card:hover .hover-banner {
    bottom: 0;
    transition: bottom 0.5s ease-in-out; /* Adiciona transição ao banner */
}

.project-title-container,
.icons {
    opacity: 1; /* Opacidade normal */
    transition: opacity 0.3s ease; /* Transição suave para a opacidade */
}

.project-card:hover .project-title-container,
.project-card:hover .icons {
    opacity: 0; /* Oculte o título e os ícones */
}

.hover-banner {
    opacity: 0; /* Inicialmente invisível */
}

.project-card:hover .hover-banner {
    bottom: 0; /* Mostra o banner */
    opacity: 1; /* Torna o banner visível */
    transition: bottom 0.5s ease-in-out, opacity 0.3s ease; /* Transição suave */
}

.project1-line {
    width: 80px; /* Mantém uma largura fixa */
    margin: 10px 0;
    margin-left: 50px;
    border: none; /* Remove a borda padrão */
    height: 3px; /* Define a altura da linha */
    background-color: #8257E6; 
}

.icons {
    display: flex;
    justify-content: center;
    margin: 5px 0; /* Espaço entre o título e os ícones */
    position: absolute; /* Coloque a posição absoluta para alinhar melhor */
    top: 60%; /* Ajuste para posicionar abaixo do título */
    left: 50%;
    transform: translate(-50%, -50%); /* Centraliza os ícones */
}

.icons i {
    font-size: 1.5em; /* Tamanho dos ícones */
    color: #8257E6; /* Cor dos ícones */
    margin: 0 10px; /* Espaçamento entre os ícones */
    transition: color 0.3s ease; /* Transição suave para mudança de cor */
}

.icons i:hover {
    color: #5e3ca8; /* Cor dos ícones ao passar o mouse */
}

.project-date {
    font-weight: 500;
    font-size: 15px;
}

.ver-mais {
    font-weight: 500;
    background-color: #8257E6;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.ver-mais:hover {
    background-color: #5e3ca8;
}

.dark-theme #projects {
    background-color: #13131F;
}












.modal {
    display: none; /* Oculto por padrão */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Fundo escurecido */
    backdrop-filter: blur(3px); /* Aplica o desfoque ao fundo */
}

.modal-content {
    background-color: #13131F;
    margin: auto; /* Centraliza automaticamente */
    padding: 20px;
    border-radius: 8px;
    width: 90%; /* Aumente a largura para 90% para dar mais espaço ao conteúdo */
    max-width: 1200px; /* Aumente a largura máxima para 1200px */
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 50%; /* Move para o meio da tela */
    transform: translateY(-50%); /* Compensa a altura do container para centralizar */
}

.modal-left {
    flex: 0 0 40%; /* 40% da largura para o vídeo */
    display: flex;
    flex-direction: column; /* Coloca vídeo e botões em coluna */
}

.modal-left video {
    width: 100%; /* Largura total do vídeo */
    height: auto; /* Altura automática para manter proporção */
}

.modal-buttons {
    margin-top: 20px;
    display: flex; /* Use flexbox para alinhar os botões */
    justify-content: center; /* Centraliza os botões horizontalmente */
    gap: 10px; /* Espaço entre os botões, ajuste conforme necessário */
}

.modal-button {
    font-size: 0.7rem;
    display: inline-block;
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #8257E6;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.modal-button:hover {
    background-color: #5e3ca8;
}

.modal-right {
    flex: 1; /* O conteúdo à direita ocupa o restante do espaço */
    padding-left: 20px; /* Espaçamento à esquerda */
    display: flex;
    flex-direction: column; /* Alinha os elementos em coluna */
}

.h1, .p, .h3 {
    margin: 0; /* Remove margens padrão */
    margin-bottom: 1rem; /* Espaço entre os elementos */
}

.h1 {
    font-size: 2rem;
    font-weight: 500;
    color: #8257E6;
}

.p {
    font-size: 0.9rem;
    font-weight: 500;
    color: #828282;
    line-height: 140%;
    padding: 1rem 0;
}

.h3 {
    font-size: 1rem;
    font-weight: 600;
    color: #8257E6;
}

.close {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 28px; /* Aumenta o tamanho do "X" */
    color: #8257E6; /* Cor roxa */
    cursor: pointer; /* Muda o cursor para pointer ao passar o mouse */
    transition: color 0.3s ease; /* Animação suave para a cor */
}






  






















/* Ajustes para telas menores */

@media (max-width: 480px) {
    .skill-box {
        flex: 0 1 80px; /* Aumenta o ajuste em telas muito pequenas */
        padding: 10px; /* Ajusta o padding se necessário */
    }

    /* Ajuste adicional no título "Projetos" para telas bem pequenas */
    .projects-title {
        font-size: 1.5em;
    }

    /* Margem menor no container para se ajustar à tela */
    .projects-container {
        margin: 0 10px;
    }

    .modal-content {
        padding: 15px; /* Reduz o padding para telas menores */
    }

    .h1 {
        font-size: 1.2rem; /* Diminui o tamanho do título */
    }

    .h3 {
        font-size: 0.8rem; /* Diminui o tamanho do subtítulo */
    }

    .p {
        font-size: 0.7rem; /* Diminui o tamanho do parágrafo */
    }

    .modal-buttons {
        flex-direction: column; /* Mantém os botões em coluna */
        align-items: stretch; /* Alinha os botões para ocupar toda a largura */
    }

    .modal-button {
        width: 100%; /* Os botões ocupam toda a largura */
        margin-bottom: 5px; /* Espaço reduzido entre os botões */
    }

    .close {
        right: 10px; /* Ajusta a posição do botão fechar */
        top: 5px; /* Ajusta a posição do botão fechar */
        font-size: 24px; /* Diminui o tamanho do "X" */
    }

    .project-date {
        font-size: 0.8rem; /* Diminui ainda mais o tamanho da fonte */
    }

    .ver-mais {
        padding: 12px; /* Aumenta o padding do botão para facilitar o toque */
        font-size: 0.8rem; /* Diminui o tamanho da fonte do botão */
    }
}

@media (max-width: 768px) {

    header {
        align-items: center;
        padding: 15px;
    }

    nav ul {
        padding: 0;
        margin: 0;
    }

    nav ul li a {
        font-size: 30px; /* Ajusta o tamanho dos links no mobile */
    }

    .menu-icon {
        font-size: 23px; /* Diminui o ícone */
        margin-left: calc(45px - 5vw); /* Ajusta a margem à medida que a tela diminui */
    }

    .welcome-message {
        font-size: 25px; /* Reduz o tamanho do título */
        margin: 10px 0;
    }

    .header-line {
        top: 79px; /* Ajuste a altura aqui, se necessário */
    }

    .titulo-navbar {
        font-size: 25px; /* Reduz o tamanho do título */
        margin: 10px 0;
    }

    .toggle-container {
        width: 50px; /* Diminui o botão de alternância */
        height: 25px;
        margin-right: calc(45px - 5vw); /* Ajusta a margem à medida que a tela diminui */
    }

    .toggle-circle {
        width: 20px; /* Diminui a largura da bolinha */
        height: 20px; /* Diminui a altura da bolinha */
        left: 2px; /* Ajusta a posição inicial */
        transition: left 0.3s; /* Mantém a transição */
    }

    .dark-theme .toggle-circle {
        left: 28px; /* Ajusta a posição no modo escuro */
    }

    .sobre-section {
        padding: 50px; /* Reduz o padding em telas muito pequenas */
    }

    header {
        padding: 15px;
    }

    .info-container h1 {
        font-size: 1.5em; /* Ajusta o tamanho do título ainda mais */
    }

    .info-container h2 {
        font-size: 1em; /* Ajusta o tamanho do subtítulo */
    }

    .btn {
        padding: 5px 10px; /* Diminui ainda mais o padding dos botões */
        display: block;
        width: 100%;
        margin: 20px 0;
    }

    .skill-box {
        flex: 0 1 100px; /* Faz cubos mais finos em telas menores */
        padding: 15px; /* Ajusta o padding se necessário */
    }

    .projects-title {
        font-size: 1.8em;
    }

    /* Ajuste para as imagens ficarem uma abaixo da outra em telas menores */
    .projects-container {
        flex-direction: column;
        margin: 0 20px; /* Reduz a margem lateral */
    }

    .project-card {
        width: 100%; /* Ocupar toda a largura da tela no mobile */
        margin: 10px 0; /* Espaçamento vertical entre os cards */
    }

    /* Manter tamanho fixo para o título "Destaques" e a linha abaixo */
    .destaques-title, .project1-line {
        font-size: 1.2em;
    }

    .project1-line {
        width: 50px;
        margin: 10px auto; /* Centraliza a linha */
        margin-left: 20px;
    }

    .destaques-title {
        margin-left: 20px; /* Ajusta o espaçamento para telas menores */
    }

    .modal-left {
        display: none; /* Oculta a seção do vídeo */
    }

    .modal-right {
        flex: 1; /* O conteúdo à direita ocupa todo o espaço disponível */
        padding-left: 0; /* Remove o padding à esquerda */
    }

    .h1 {
        font-size: 1.5rem; /* Diminui o tamanho do título */
    }

    .h3 {
        font-size: 0.9rem; /* Diminui o tamanho do subtítulo */
    }

    .p {
        font-size: 0.8rem; /* Diminui o tamanho do parágrafo */
    }

    .modal-buttons {
        flex-direction: column; /* Coloca os botões em coluna */
        align-items: center; /* Centraliza os botões */
    }

    .modal-button {
        width: 100%; /* Os botões ocupam toda a largura */
        margin-bottom: 10px; /* Espaço entre os botões */
    }

    .close {
        top: 5px; /* Ajusta a posição do botão fechar */
        right: 10px; /* Ajusta a posição do botão fechar */
        font-size: 24px; /* Ajusta o tamanho do "X" */
    }

    .project-date {
        font-size: 0.9rem; /* Diminui o tamanho da fonte */
        margin-bottom: 5px; /* Espaço abaixo da data */
    }

    .ver-mais {
        font-size: 0.9rem; /* Diminui o tamanho da fonte */
        padding: 10px; /* Aumenta o padding para toque mais fácil */
    }

}

@media (min-width: 769px) {
    .image-container {
        order: 2; /* Garante que a imagem fique em segundo lugar */
    }
}


@media (max-width: 1024px) {
    .info-content {
        flex-direction: column; /* Muda a direção para coluna em telas menores */
        align-items: center; /* Centraliza os itens */
    }

    .info-container,
    .image-container {
        width: 100%; /* Faz os containers ocuparem 100% da largura */
        text-align: center; /* Centraliza o texto */
    }

    .image-container {
        margin-left: 0; /* Remove a margem à esquerda */
        margin-bottom: 20px; /* Adiciona um espaço inferior */
    }

    .info-container h1 {
        font-size: 2em; /* Ajusta o tamanho do título */
    }

    .info-container h2 {
        font-size: 1.2em; /* Ajusta o tamanho do subtítulo */
    }

    .btn {
        padding: 8px 16px; /* Reduz o padding dos botões */
    }

    .about-container h1 {
        font-size: 1.8em; /* Ajusta o tamanho do título da seção "Sobre" */
    }

    .about-container p {
        font-size: 1em; /* Ajusta o tamanho do parágrafo */
    }

    #habilidades h1 {
        font-size: 1.8em; /* Ajusta o tamanho do título da seção "Sobre" */
    }
}

/* Ajustes para telas entre 993px e 768px */
@media (max-width: 993px) and (min-width: 768px) {
    .modal-button {
        
        font-size: 0.9rem; /* Diminui o tamanho da fonte dos botões */
       
        
    }

    .modal-buttons {
        display: flex; /* Usar flexbox para manter os botões em linha */
        justify-content: space-between; /* Espaço entre os botões */
        flex-direction: column;
        text-align: center;
    
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
    .image-container {
        order: 2; /* Garante que a imagem fique em segundo lugar */
    }
}


